# Dependencies and Virtual Environments
node_modules/
venv/
__pycache__/
*.pyc

# Excel files
*.xlsx
*.xls
*.~lock.*#

# CSV files
*.csv

# Mails, Artifacts & Scratch directories
mails/
artifacts/
scratch/

# Lock files & Logs
*.lock
*.log

# System & Backup files
.DS_Store
*.png
*.json.bak
.system_generated/
